@font-face {
  font-family: "Chirp Bold";
  src: url("https://abs.twimg.com/fonts/chirp-bold-web.woff");
}

@font-face {
  font-family: "Chirp Heavy";
  src: url("https://abs.twimg.com/fonts/chirp-heavy-web.woff");
}

@font-face {
  font-family: "Chirp Medium";
  src: url("https://abs.twimg.com/fonts/chirp-medium-web.woff");
}

@font-face {
  font-family: "Chirp Regular";
  src: url("https://abs.twimg.com/fonts/chirp-regular-web.woff");
}

.chirp-r {
  font-family: "Chirp Regular";
}

.chirp-h {
  font-family: "Chirp Heavy";
}

.chirp-m {
  font-family: "Chirp Medium";
}

body {
  background: #000000;
  font-family: "Chirp Regular";
  margin: 0;
  color: white;
}

.main {
  position: absolute;
}

.fixed {
  position: fixed;
}

.sticky {
  position: sticky;
  top: 0;
}

.font-20-24-700 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.font-20-24-400 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

.font-15-400 {
  font-size: 15px;
  font-weight: 400;
}
.vh-100 {
  height: 100vh;
}

.l-border {
  border-left: 1px solid rgb(47, 51, 54);
}

.b-border {
  border-bottom: 1px solid rgb(47, 51, 54);
}

.back-c-grey {
  background-color: #202327;
}

.space-between {
  justify-content: space-between;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

#nav {
  width: 23.5%;
  padding: 0 40px 0 50px;
}

.content {
  width: 44.5%;
  min-width: 600px;
}

.right-sidebar {
  max-width: 350px;
  width: 32%;
  padding: 0 30px;
}
.logo {
  height: auto;
  max-width: 30px;
  padding: 10px;
}
.t-white {
  color: #d9d9d9;
}

.t-grey {
  color: #6e767d;
}

.t-blue {
  color: #1da1f2;
}

.bg-black {
  background: #000000;
}

.border-rad-20em {
  border-radius: 20em;
}

.border-rad-1em {
  border-radius: 1em;
}

.td-none {
  text-decoration: none;
}
.nav-but {
  padding: 12px 15px;
  width: fit-content;
}

.nav-but:hover,
.account-menu-wrap:hover {
  background-color: rgba(217, 217, 217, 0.1);
  transition: ease-in-out 0.2s;
}

.svg {
  height: auto;
  width: 25px;
  margin-right: 15px;
}

.svg-s {
  height: auto;
  width: 20px;
  margin-right: 12px;
}

.overflow-auto {
  overflow: auto;
}

.pad-0-16 {
  padding: 0 16px;
}
.home-wrap {
  min-height: 53px;
}

.just-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.align-left {
  align-items: left;
}

.align-right {
  align-items: right;
}
.border-box {
  box-sizing: border-box;
}

.w-100p {
  width: 100%;
}

.tweet-but {
  margin: 8px 0 0;
  min-width: 5px;
  line-height: 20px;
  padding: 15px;
  background-color: #1da1f2;
  font-size: 17px;
  color: white;
  font-weight: 400;
}

.tweet-but:hover {
  background-color: #1a91da;
}

.button {
  background-color: white;
}

.account-menu-wrap {
  padding: 10px 0;
  margin: 10px 0;
}

.pp {
  padding: 0 10px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.pp-1 {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.search-wrap {
  padding: 10px 0;
  z-index: 2;
}

.search-input {
  padding: 2px 5px 3px 15px;
}

#search-text {
  padding: 0.7em;
  background-color: transparent;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
  font-size: 15px;
  font-weight: 400;
  width: 100%;
}

#search-icon {
  padding: 5px 0px 5px 15px;
  margin-left: 12px;
}

.happening-wrap {
  margin: 15px 0;
  background-color: #15181c;
}

.pad-12-16 {
  padding: 12px 16px;
}
.happening-head {
  font-family: "Chirp heavy";
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
}

.whats:hover {
  background-color: #1c1f23;
}
.whats-text {
  margin: 0px 12px 0 0;
}
.whats-img {
  height: 68px;
  width: 68px;
}
.whats-description {
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
  margin: 2px 0;
}
.font-13-16-400 {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}

.dot,
.dot span {
  font-weight: 900;
  padding: 0 2px;
  position: relative;
  bottom: 1px;
}

.more {
  padding: 16px;
  text-decoration: none;
}

.small-button {
  min-height: 32px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: #0f1419;
}

.profile-pic {
  margin: 0 12px 0;
}

.text-input {
  word-wrap: break-word;
  max-width: 500px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  outline: none;
  cursor: text;
  padding: 12px 0;
}

.text-input:empty::before {
  content: "What's happening?";
  color: #6e767d;
}

.create-post-wrap {
  padding: 12px;
}

.posts-wrap {
  padding: 16px;
}

.post-centent-wrap,
.post-text,
.text-input {
  min-width: 500px;
}

.post-image-wrap {
  margin: 10px 0 0;
  max-height: max-content;
  max-width: 500px;
  overflow: hidden;
}
.post-image {
  max-height: auto;
  max-width: 100%;
  position: relative;
  z-index: -1;
}

.post-actions {
  padding: 12px 0 0;
}

.user {
  padding-bottom: 3px;
}

.reply-toggle {
  padding: 0 0 12px;
  color: #1da1f2;
  font-weight: 700;
  font-size: 15px;
}

.media-options-wrap {
  padding: 12px 0 0;
}
